Repository COS301-SE-2022/Happy-Muncher, pull requests merged in 2022-07, with the labels that each got.

#79 Feature/recipe book
  happy_mucher_frontend/lib/models/recipe.api.dart
  happy_mucher_frontend/lib/models/recipe.dart
  happy_mucher_frontend/lib/pages/homepage.dart
  happy_mucher_frontend/lib/pages/individualRecipe.dart
  happy_mucher_frontend/lib/pages/recipebook.dart
  happy_mucher_frontend/lib/recipe_card.dart
Labels: scope: front-end, scope: back-end, Priority: medium, type: feature

#81 Feature/profilepage
  happy_mucher_frontend/assets/images/bottom1.png
  happy_mucher_frontend/assets/images/bottom2.png
  happy_mucher_frontend/assets/images/top1.png
  happy_mucher_frontend/assets/images/top2.png
  happy_mucher_frontend/lib/logged_in_widget.dart
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/pages/changemail.dart
  happy_mucher_frontend/lib/pages/changepassword.dart
  happy_mucher_frontend/lib/pages/changeusername.dart
  happy_mucher_frontend/lib/pages/homepage.dart
  happy_mucher_frontend/lib/pages/loginpage.dart
  happy_mucher_frontend/lib/pages/navbar.dart
  happy_mucher_frontend/lib/pages/profile.dart
  happy_mucher_frontend/lib/pages/signuppage.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
  happy_mucher_frontend/web/index.html
Labels: type: feature

#82 Feature/oc rscanner
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: type: enhancement, scope: front-end, Priority: low, type: feature

#83 Feature/settings
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/pages/homepage.dart
  happy_mucher_frontend/lib/pages/navbar.dart
  happy_mucher_frontend/lib/pages/settings_page.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
  happy_mucher_frontend/windows/flutter/generated_plugins.cmake
Labels: type: feature

#87 Feature/recipe book2
  happy_mucher_frontend/lib/models/tasty.api.dart
  happy_mucher_frontend/lib/models/tastyRecipe.dart
  happy_mucher_frontend/lib/pages/recipebook.dart
  happy_mucher_frontend/lib/pages/tasty_book.dart
  happy_mucher_frontend/lib/recipe_card.dart
  happy_mucher_frontend/lib/search_widget.dart
  happy_mucher_frontend/lib/tasty_card.dart
Labels: scope: front-end, Priority: high, type: feature

#89 Feature/budgetdb
  happy_mucher_frontend/assets/images/months/april.jpg
  happy_mucher_frontend/assets/images/months/august.jpg
  happy_mucher_frontend/assets/images/months/december.jpg
  happy_mucher_frontend/assets/images/months/february.jpg
  happy_mucher_frontend/assets/images/months/january.jpg
  happy_mucher_frontend/assets/images/months/july.jpg
  happy_mucher_frontend/assets/images/months/june.jpg
  happy_mucher_frontend/assets/images/months/march.jpg
  happy_mucher_frontend/assets/images/months/may.jpg
  happy_mucher_frontend/assets/images/months/november.jpg
  happy_mucher_frontend/assets/images/months/october.jpg
  happy_mucher_frontend/assets/images/months/september.jpg
  happy_mucher_frontend/flutter_01.png
  happy_mucher_frontend/lib/monthcard_widget.dart
  happy_mucher_frontend/lib/pages/budget.dart
  happy_mucher_frontend/lib/pages/month.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: type: bug fix, scope: front-end, scope: back-end, scope: Database, Priority: high, type: feature

#91 Feature/oc rscanner
  happy_mucher_frontend/android/app/build.gradle
  happy_mucher_frontend/android/app/src/main/AndroidManifest.xml
  happy_mucher_frontend/lib/dialogs/add_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/add_inventory.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_inventory.dialog.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: scope: front-end, Priority: high, type: feature

#92 downgrade dependency
  .github/workflows/github-actions.yml
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: type: enhancement, scope: front-end, Priority: high

#98 Feature/notifications
  .github/workflows/github-actions.yml
  README.md
  happy_mucher_frontend/android/gradle/wrapper/gradle-wrapper.properties
  happy_mucher_frontend/intergration_test/app.dart
  happy_mucher_frontend/intergration_test/app_test.dart
  happy_mucher_frontend/lib/dialogs/add_inventory.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_inventory.dialog.dart
  happy_mucher_frontend/lib/intergration_test/app_test.dart
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/models/devfestpreferences.dart
  happy_mucher_frontend/lib/models/styles.dart
  happy_mucher_frontend/lib/pages/changemail.dart
  happy_mucher_frontend/lib/pages/changeprofile.dart
  happy_mucher_frontend/lib/pages/changeusername.dart
  happy_mucher_frontend/lib/pages/forgotpassword.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/homepage.dart
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/lib/pages/loginpage.dart
  happy_mucher_frontend/lib/pages/navbar.dart
  happy_mucher_frontend/lib/pages/notification.dart
  happy_mucher_frontend/lib/pages/profile.dart
  happy_mucher_frontend/lib/pages/settings_page.dart
  happy_mucher_frontend/lib/pages/signuppage.dart
  happy_mucher_frontend/lib/provider/dark_theme_provider.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: scope: front-end, Priority: high, type: feature

#99 Feature/scanner tests
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/test/grocery_page_test.dart
Labels: scope: front-end, Priority: low, type: testing, scope: ci/cd
