Repository COS301-SE-2022/Happy-Muncher, pull requests merged in 2022-09, with the labels that each got.

#119 Feature/budget cards
  happy_mucher_frontend/lib/dailymeal_widget.dart
  happy_mucher_frontend/lib/models/styles.dart
  happy_mucher_frontend/lib/pages/dashboard.dart
  happy_mucher_frontend/lib/pages/loginpage.dart
  happy_mucher_frontend/lib/pages/month.dart
  happy_mucher_frontend/lib/pages/navbar.dart
  happy_mucher_frontend/lib/pages/weekday.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: type: enhancement, scope: front-end, scope: Database, Priority: medium

#123 Feature/budget cards
  happy_mucher_frontend/lib/pages/dashboard.dart
  happy_mucher_frontend/lib/pages/loginpage.dart
  happy_mucher_frontend/lib/pages/signuppage.dart
Labels: type: bug fix, scope: Database, Priority: low

#125 Feature/barcodescanner
  happy_mucher_frontend/lib/addIngredient_widget.dart
  happy_mucher_frontend/lib/componentcard.dart
  happy_mucher_frontend/lib/dialogs/add_barcode.dialog.dart
  happy_mucher_frontend/lib/dialogs/add_ingredient_dialog.dart
  happy_mucher_frontend/lib/ingredientlist_widget.dart
  happy_mucher_frontend/lib/models/barcode_api.dart
  happy_mucher_frontend/lib/models/barcode_data.dart
  happy_mucher_frontend/lib/models/myRecipe.dart
  happy_mucher_frontend/lib/pages/createRecipe.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/homepage.dart
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/lib/pages/myRecipeBook.dart
  happy_mucher_frontend/lib/pages/recipebook.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
  happy_mucher_frontend/secrets.env
Labels: type: enhancement, scope: front-end, scope: back-end, scope: Database, Priority: high, type: feature

#124 Feature/scanner price
  happy_mucher_frontend/lib/dialogs/add_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_grocery.dialog.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
Labels: scope: back-end, scope: Database, Priority: low, type: feature

#131 Feature/updates
  happy_mucher_frontend/lib/models/styles.dart
  happy_mucher_frontend/lib/pages/budget.dart
  happy_mucher_frontend/lib/pages/changemail.dart
  happy_mucher_frontend/lib/pages/changepassword.dart
  happy_mucher_frontend/lib/pages/changeusername.dart
  happy_mucher_frontend/lib/pages/dashboard.dart
  happy_mucher_frontend/lib/pages/display_image_widget.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/individualRecipe.dart
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/lib/pages/loginpage.dart
  happy_mucher_frontend/lib/pages/mealplanner.dart
  happy_mucher_frontend/lib/pages/month.dart
  happy_mucher_frontend/lib/pages/navbar.dart
  happy_mucher_frontend/lib/pages/profile.dart
  happy_mucher_frontend/lib/pages/recipebook.dart
  happy_mucher_frontend/lib/pages/settings_page.dart
  happy_mucher_frontend/lib/pages/tasty_book.dart
  happy_mucher_frontend/lib/pages/values.dart
  happy_mucher_frontend/lib/pages/weekday.dart
  happy_mucher_frontend/lib/widgets/appbar_widget.dart
Labels: type: enhancement, scope: front-end, Priority: medium

#137 Feature/updated inventory tests
  happy_mucher_frontend/lib/dialogs/add_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/add_inventory.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_inventory.dialog.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/lib/widgets/appbar_widget.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
  happy_mucher_frontend/test/grocery_page_test.dart
  happy_mucher_frontend/test/inventory_page_test.dart
Labels: scope: front-end, Priority: medium, type: testing

#139 Develop
  happy_mucher_frontend/lib/models/retrain_models.ipynb
  happy_mucher_frontend/lib/models/white_bread.ipynb
  happy_mucher_frontend/lib/pages/month.dart
Labels: scope: front-end, Priority: high, type: feature
