Repository COS301-SE-2022/Happy-Muncher, pull requests merged in 2022-05, with the labels that each got.

#18 Added IventoryList Frontend
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: front-end

#19 Added inventoryList dialog
  happy_mucher_frontend/lib/dialogs/add_inventory.dialog.dart
Labels: front-end

#24 Added inventory list testing
  happy_mucher_frontend/lib/dialogs/add_inventory.dialog.dart
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/test/inventory_page_test.dart
  happy_mucher_frontend/test/widget_test.dart
Labels: front-end, Priority: high, testing

#30 bug changes
  happy_mucher_frontend/lib/pages/budget.dart
  happy_mucher_frontend/lib/pages/month.dart
  happy_mucher_frontend/test/budget_test.dart
  happy_mucher_frontend/test/month_test.dart
  happy_mucher_frontend/test/widget_test.dart
Labels: type: bug fix, scope: front-end, Priority: medium

#32 merge
  .github/workflows/metatest.yml
  CODE_OF_CONDUCT.md
  README.md
  Workflows
Labels: scope: front-end, Priority: medium, type: feature

#37 Feature/budget
  happy_mucher_frontend/lib/pages/budget.dart
  happy_mucher_frontend/lib/pages/month.dart
  happy_mucher_frontend/test/budget_test.dart
  happy_mucher_frontend/test/month_test.dart
Labels: scope: front-end, Priority: high, type: testing

#38 Feature/grocery list
  happy_mucher_frontend/lib/dialogs/add_grocery.dialog.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/test/grocery_page_test.dart
Labels: scope: front-end, Priority: high, type: feature

#39 Release for demo1
  happy_mucher_frontend/lib/dialogs/add_grocery.dialog.dart
  happy_mucher_frontend/lib/homepage.dart
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/pages/budget.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/homepage.dart
  happy_mucher_frontend/lib/pages/month.dart
  happy_mucher_frontend/test/budget_test.dart
  happy_mucher_frontend/test/grocery_page_test.dart
  happy_mucher_frontend/test/month_test.dart
Labels: scope: front-end, Priority: high, type: feature

#45 Update feature/budget branch
  README.md
  happy_mucher_frontend/lib/dialogs/add_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/add_inventory.dialog.dart
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/homepage.dart
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/test/grocery_page_test.dart
  happy_mucher_frontend/test/inventory_page_test.dart
Labels: type: enhancement, scope: front-end, Priority: low

#47 Update feature branch
  README.md
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/pages/homepage.dart
Labels: type: enhancement, scope: front-end, Priority: medium
