Repository COS301-SE-2022/Happy-Muncher, pull requests merged in 2022-06, with the labels that each got.

#53 Feature/inventory db
  happy_mucher_frontend/lib/dialogs/add_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_inventory.dialog.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: scope: front-end, Priority: high, type: feature

#54 Feature/inventory db
  happy_mucher_frontend/android/app/build.gradle
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: type: enhancement, scope: front-end, Priority: high

#55 updated files for newer dependencies
  happy_mucher_frontend/lib/google_signup_button_widget.dart
  happy_mucher_frontend/lib/logged_in_widget.dart
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/provider/google_sign_in.dart
  happy_mucher_frontend/lib/sign_up_widget.dart
Labels: type: enhancement, scope: front-end, Priority: high

#56 added get it dependency
  happy_mucher_frontend/lib/dialogs/add_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/add_inventory.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_inventory.dialog.dart
  happy_mucher_frontend/lib/logged_in_widget.dart
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/lib/provider/google_sign_in.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: scope: front-end, scope: Database, Priority: high, type: feature

#58 main
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
Labels: scope: front-end, Priority: low, type: feature

#59 Feature/inventory test
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/inventory.dart
  happy_mucher_frontend/test/grocery_page_test.dart
  happy_mucher_frontend/test/inventory_page_test.dart
Labels: scope: front-end, Priority: medium, type: testing

#65 Feature/mealplanner
  happy_mucher_frontend/lib/dialogs/add_meal.dialog.dart
  happy_mucher_frontend/lib/pages/homepage.dart
  happy_mucher_frontend/lib/pages/mealplanner.dart
  happy_mucher_frontend/lib/pages/weekday.dart
  happy_mucher_frontend/pubspec.yaml
  happy_mucher_frontend/test/meal_planner_test.dart
Labels: scope: front-end, Priority: high, type: feature

#66 Feature/firestoredb
  happy_mucher_frontend/android/app/src/debug/AndroidManifest.xml
  happy_mucher_frontend/android/app/src/main/AndroidManifest.xml
  happy_mucher_frontend/android/app/src/profile/AndroidManifest.xml
  happy_mucher_frontend/lib/google_signup_button_widget.dart
  happy_mucher_frontend/lib/intergration_test/app_test.dart
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/models/authentication.dart
  happy_mucher_frontend/lib/models/http_exception.dart
  happy_mucher_frontend/lib/pages/homepage.dart
  happy_mucher_frontend/lib/pages/loginpage.dart
  happy_mucher_frontend/lib/pages/signuppage.dart
  happy_mucher_frontend/lib/sign_up_widget.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
  happy_mucher_frontend/web/index.html
  happy_mucher_frontend/windows/flutter/generated_plugins.cmake
Labels: scope: front-end, Priority: high, type: testing, type: feature

#68 updated integrationTest
  happy_mucher_frontend/lib/intergration_test/app_test.dart
Labels: type: bug fix

#69 Feature/budgetdb
  happy_mucher_frontend/lib/main.dart
  happy_mucher_frontend/lib/pages/budget.dart
  happy_mucher_frontend/lib/pages/month.dart
  happy_mucher_frontend/pubspec.lock
  happy_mucher_frontend/pubspec.yaml
Labels: scope: front-end, Priority: high, type: feature
