Repository COS301-SE-2022/Happy-Muncher, pull requests merged in 2022-08, with the labels that each got.

#108 Update develop branch
  README.md
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/individualRecipe.dart
  happy_mucher_frontend/pubspec.lock
Labels: scope: ci/cd

#109 update branch
  README.md
  happy_mucher_frontend/lib/pages/grocerylist.dart
  happy_mucher_frontend/lib/pages/individualRecipe.dart
  happy_mucher_frontend/pubspec.lock
Labels: type: bug fix, scope: front-end, scope: Database, Priority: medium

#112 Feature/grocery list
  happy_mucher_frontend/lib/dialogs/add_grocery.dialog.dart
  happy_mucher_frontend/lib/dialogs/update_grocery.dialog.dart
  happy_mucher_frontend/lib/pages/grocerylist.dart
Labels: type: bug fix, type: enhancement, scope: back-end, scope: Database, Priority: low

#111 Feature/budget
  happy_mucher_frontend/lib/pages/budget.dart
  happy_mucher_frontend/lib/pages/homepage.dart
  happy_mucher_frontend/lib/pages/month.dart
  happy_mucher_frontend/test/budget_test.dart
Labels: type: enhancement, scope: back-end, scope: Database, Priority: low
